@import '../app/core/styles/variables.scss';

// Styles globaux
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: $text-color;
    background-color: $secondary-color;
}

// Conteneur principal
.app-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: $border-radius;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    // En-tête
    .app-header {
        text-align: center;
        color: $primary-color;
        margin-bottom: 1.5rem;

        h1 {
            font-size: 1.8rem;
            font-weight: bold;
        }
    }
    
    .app-home {
        color: $secondary-color;
        align-items: center;
        text-align: center;
    
        h2 {
            display: inline-block;
            text-align: center;
            border-radius: 5px;
            background-color: $primary-color;
            font-size: 1rem;
            font-weight: bold;
            padding: 10px;
            color: white;
            width: 30%;
        }
    }
}
